@import "tailwindcss";


@layer base {
  body {
    @apply bg-black text-white font-sans;
  }

  a {
    @apply text-[color:#14F195];
  }

  .wallet-adapter-button {
    @apply font-bold rounded-md;
    background: linear-gradient(90deg, #9945FF, #14F195);
    color: black !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

